<!DOCTYPE html>
<html>
<%- include('./common/head') -%>

  <body>
    <div class="container">
      <% if (user) { %>
        <div>
          <div class="title">
            현재 상태
          </div>
          <div>
            로그인
          </div>
          <div class="title">
            사용자명
          </div>
          <div id="username">
            <%= user.username %>
          </div>
          <button onclick="logout()" type="button" class="btn btn-secondary mt-20">로그아웃</button>
        </div>
        <% } else { %>
          <div class="title">
            현재 상태
          </div>
          <div>
            비로그인
          </div>
          <button onclick="login()" type="button" class="btn btn-secondary mt-20">로그인</button>
    </div>
    <% } %>

      <div><input id="inputText" type='text' class='mt-20' placeholder="입력하세요"> <button onclick="board()">등록</button>
      </div>

      <div class="container-sm box mt-20 ">

        <h1>
          게시판 출력
        </h1>

      <%= todo.content %> 
      <%= todo_list1.content %>
      <%= todo2.content %>
      <%= todo3.content %>
       
      
      
      
      <% if (todo_list) { %>
          <% if (todo.user_id==1) {%>
            <table>
              <% todo_list.forEach(function(todo){ %>
                <tr>
                  <td id="borad_list2">User_id<%= todo.user_id %></span> <input id="borad_list" type='text' class='mt-10 mb-15'
                        placeholder="<%= todo.content %>">
                      <button class="btn btn-primary">수정</button><button class="btn btn-secondary"
                        onclick="board_delete()">삭제</button>
      </div>
      </td>
      </tr>
              <% }) %>
        </table>

          <% } %>
        <% } %>







            </div>

            <button onclick="test()">test</button>



            </div>

            <%- include('./common/javascript') -%>



              <script>

              </script>
              <script>

                $("#inputText").keydown(function (key) {
                  if (key.keyCode == 13) {
                    board();
                  }
                });

                function board_delete() {
                  var list = document.getElementById("board_list2");
                  console.log(list);
                  alert(list)
                  var todo_text = $('#todo_text').val();                  

                  $.post("/api/vi/board/delete", {
                    todo_text: todo_text
                  })
                    .done(function (data) {
                      if (data.result === 'fail') {
                        Swal.fire({
                          icon: 'error',
                          title: '삭제!',
                          text: '실패!'
                        })
                      } else {
                        Swal.fire({
                          icon: 'succes',
                          title: '삭제!',
                          text: '성공!'
                        }).then((result) => {
                          if (result.isConfirmed) {
                            window.location.href = "/";
                          } else if (result.isDenied) {
                          }
                        })
                      }

                    })
                }



                function board() {
                  var inputText = $('#inputText').val();

                  $.post("/api/v1/board/insert", {
                    inputText: inputText
                  })
                    .done(function (data) {
                      if (data.result === 'fail') {
                        Swal.fire({
                          icon: 'error',
                          title: '등록!',
                          text: '실패!'
                        })
                      } else {
                        Swal.fire({
                          icon: 'succes',
                          title: '등록!',
                          text: '등록!'
                        }).then((result) => {
                          if (result.isConfirmed) {
                            window.location.href = "/";
                          } else if (result.isDenied) {
                          }
                        })
                      }
                    });
                }


                function login() {
                  window.location.href = "/login";
                }

                function logout() {
                  var inputName = $('#inputName').val();
                  // 세션을 지워야함
                  $.post("/api/v1/logout", {
                    inputName: inputName
                  })
                    .done(function (data) {
                      if (data.result === 'fail') {
                        alert('로그아웃에 실패하였습니다.')

                      } else {
                        window.location.href = "/";
                      }
                    });
                }
              </script>
  </body>

</html>